/* style.css */
body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}
p {
  image-orientation: center;
}
h1 {
  display: block;
    font-size: 42px;
    font-weight: 300;
  color: white;
}
#h1a {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.cta {
  color: Aquamarine;
  font-size: 16px;
}
.tents {
  display: inline;
  font-family: Verdana, sans-serif;
  height: 527px;
  text-align: center;
  width: 896px;
}
.footer {
    text-align: right;
    color: gray;
    font-size: 21px;
}
